.about {
  background-color: #f8f9fa;
  padding: 80px;
  opacity: 0;
  &.about-animate {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
  }
  .download-button {
    margin-top: 20px;
    a {
      text-decoration: none;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .about-text {
      flex: 1;
      text-align: left;
      padding: 0 40px;
      .about-heading {
        font-size:190%;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.1em;
        position: relative;
        animation: typewriter 1s steps(40) forwards,
          moveUp 1s ease-in-out 1s forwards;
      }
      .about-description {
        font-size: 100%;
        line-height: 1.5;
        opacity: 0;
        animation: fadeIn 1s ease-in-out 2s forwards;
      }
    }
    .developer-image {
      width: 200px;
      height: 200px;
      margin-right: 40px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      
      .developer-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and  (max-width: 1219px) {
  .about {
    padding: 40px;
    .about-content {
      flex-direction: column;
      .about-text {
        text-align: center;
        padding: 0;
        .about-heading {
          font-size: 110%;
          white-space: normal;
        }
        .about-description {
          font-size: 90%;
        }
      }
      .developer-image {
        margin-right: 0;
        margin-bottom:0;
        margin-top: 5%;
      }
    }
  }
}
@media (max-width: 620px) {
  .about-content {
    flex-direction: column; /* Stack image and text vertically on smaller screens */
  }

  .developer-image {
    width: 100%; /* Make the profile image take up the full width */
    margin-bottom: 20px; /* Add some spacing between image and text */
  }
  .about-heading {
    font-size: 90%;
    margin-bottom: 20px;
   white-space:normal;
  }

  .about-text {
    width: 100%; /* Make the text content take up the full width */
    font-size: 70%;
  }
}
